.tepa{
    margin-top: 200px;
}
.a{
    display: inline-block;
}
.b{
    background-color: lightcyan;
    color: black;
}
.dumaloq{
    width: 50px;
    height: 50px;
    background-color: rgb(237, 41, 73);
    border-radius: 30px;
}
.dumaloq1{
    width: 50px;
    height: 50px;
    background-color: rgb(212, 22, 158);
    border-radius: 30px;
}
.dumaloq2{
    width: 50px;
    height: 50px;
    background-color: rgb(77, 41, 237);
    border-radius: 30px;
}
.dumaloq3{
    width: 50px;
    height: 50px;
    background-color: rgb(143, 227, 32);
    border-radius: 30px;
}
.dumaloq4{
    width: 60px;
    height: 60px;
    background-color: rgb(189, 10, 10);
    border-radius: 35px;
}
.c{
    width: 60px;
    height: 60px;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}
.f{
    wi
}